<div class="panel">
    <div class="panel__tools">
      <div class="panel__upload">
        <input
          id="btn-upload"
          style="font-size:16px;"
          type="file"
          (change)="parseXLSX($event)"
        >
        <label class="panel__upload__label" for="btn-upload">Upload</label>
      </div>
      <div class="panel__sync">
        <button mat-raised-button (click)="syncData()">Sync</button>
      </div>
      <div class="panel__download">
        <button mat-raised-button (click)="downloadExcel()">Download</button>
      </div>
    </div>
    <div id="luckysheet"></div>
  </div>
  