<div class="setting">
  <form #f="ngForm" class="setting__form" (ngSubmit)="onSubmit(f)" >
    <!-- cell and field -->
    <div class="setting__set">
      <div class="setting__dropdown">
          <!-- dropdown menu -->
          <mat-form-field [style.width.px]=150 appearance="outline">
            <mat-label>Select Field</mat-label>
            <mat-select name="selectedField" ngModel required>
              <mat-option *ngFor="let field of fields" [value]="field">
                {{ field }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="setting__field">
        <mat-form-field [style.width.px]=150 appearance="fill">
          <mat-label>Cell Position</mat-label>
          <input matInput placeholder="Ex. A1" name="selectedCell" ngModel required>
        </mat-form-field>
      </div>     
      <div class="setting__save">
        <input id="saveBinding" type="submit">
        <label class="setting__save__label" for="saveBinding">Save Binding</label>
      </div>
    </div>
  </form>
  <!-- TODO: refactor to be an expandable styled form -->
  <div class="setting__information">
    <div *ngFor="let binding of vbService.getPairForms()">
      <p>{{ binding.label }} binds {{ binding.cell }} with value {{ binding.value }}</p>
    </div>
  </div>
</div>